{% extends "base.html" %}
{% block title %}视频点播系统{% endblock %}
{% block page_content %}
    <div class="header">
    </div>
    <div class="content">
        <h2>文件列表</h2>
    <p>当前文件路径：/{{ dir }}</p>
        <table class="tableBox" align="center" border="1" cellpadding="10">
            <tr >
                <th class="th">文件类型</th>
                <th>文件名称</th>
            </tr>
            {% for file in file_type %}
                <tr>
                    <td>{{ file[1] }}</td>
                    <td><a href="{{ url_for('play', video_file=(dir+file[0]).replace('/','&') ) }}">{{ file[0] }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% include "endBox.html" %}
{% endblock %}

