{% extends "base.html" %}
{% block title %}正在播放 - {{ video_file[0:-4] }}{% endblock %}
{% block page_content %}
    <div class="header"></div>
    <div class="content">
        <h1>视频播放器</h1>
        <p align="center">/{{ video_file }}</p>
        <div class="middleBox">
            <div class="player">
                <video id="videoElement" class="centeredVideo" controls autoplay>
                    你的浏览器似乎不支持HTML5视频播放，您可以<a href="{{ url_for('static', filename='file/' + video_file ) }}">下载</a>
                </video>
            </div>
        </div>
        <div class="rightBox">
            <h2>播放列表</h2>
            <div class="videoListBox">
                <table class="tableBox" align="center" border="1" cellpadding="10">
                    {% for filename in videolist %}
                        <tr align=left>
                            <td>
                                <a href="{{ url_for('play', video_file=(path+filename).replace('/','&') ) }}">{{ filename }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include "endBox.html" %}


    <script src="/static/flv.min.js"></script>
    <script>
        var player = document.getElementById('videoElement');
        if (flvjs.isSupported()) {
            var flvPlayer = flvjs.createPlayer({
                type: '{{ video_file.split('.')[-1] }}',
                url: '{{ url_for('static', filename='file/' + video_file ) }}'
            });
            flvPlayer.attachMediaElement(videoElement);
            flvPlayer.load(); //加载
        }
    </script>
    <script type="text/javascript">
        (function (d, p) {
            var a = new XMLHttpRequest(),
                b = d.body;
            a.open("GET", p, true);
            a.send();
            a.onload = function () {
                var c = d.createElement("div");
                c.style.display = "none";
                c.innerHTML = a.responseText;
                b.insertBefore(c, b.childNodes[0]);
            }
        })(document, "{{ url_for('static', filename='sprite.svg') }}");
    </script>
    <script src="{{ url_for('static', filename='shr.js') }}"></script>
    <script src="{{ url_for('static', filename='plyr.js') }}"></script>
    <!-- Docs script -->
    <script src="{{ url_for('static', filename='docs.js') }}"></script>
{% endblock %}

